<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon">  
    <link href="/bootstrap.css" type="text/css" rel="stylesheet">
    <title>Metal</title>
  </head>
<body>
    <h1>EDITAR PRODUTO : <small class="text-muted"> <%= user.lote+' '+user.pieza %> </small></h1>

      <% if (user) { %>
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Registro</div>
                <div class="card-body">
                    <form action="/updatelogis" method="POST">
                        <input  type="number" name="id1" value="<%= user.id %>" hidden>
                        <div class="mb-3">
                          <label for="user" class="form-label">CANTIDA RECIBIDA</label>
                          <input type="text" class="form-control"  name="cantidad_recib" tabindex="1" value="<%= user.cantidad_recibi_logis%>">                        
                        </div>   
                        <div class="mb-3">
                          <label for="user" class="form-label">CANTIDA ENTREGADA LOGISTICA</label>
                          <input type="text" class="form-control" name="cantida_entr" tabindex="1" value="<%= user.cantidad_entre_logis%>">                        
                        </div>                                                                                       
                        <div class="mb-3">
                          <label for="user" class="form-label">COMENTARIO</label>
                          <input type="text" class="form-control" name="comentarios" tabindex="1" value="<%= user.comentarios %>">                        
                        </div>   
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="javascript:history.go(-1)" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
      <% } %>
</body>
</html>