<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon">  
    <link href="./vista.css" rel="stylesheet" >
    <title>VISTA</title>
</head>
<body>
        <div class="container" >
          <table >
            <thead>
                <tr class="tr">
                    <th class="th" scope="col">#ID</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">REFERENCIA</th>
                    <th scope="col">LOTE</th>
                    <th scope="col">NOMBRE PIEZA</ht>
                    <th scope="col">MODELO</th>
                    <th scope="col">RESPONSABLE DESEMPAQUE</th>
                    <th scope="col">CANTIDAD ENTREGADA DESEPAQUE</th>
                    <th scope="col">RESPONSABLE LOGÍSTICA</th>
                    <th scope="col">RECIBIDO LOGÍSTICA</th>
                    <th scope="col">RESPONSABLE ENTREGA LOGÍSTICA</th>
                    <th scope="col">CANTIDAD ENTREGA LOGÍSTICA</th>
                    <th scope="col">RESPONSABLE PINTURA</th>
                    <th scope="col">CANTIDAD RECIBIDA PINTURA</th>
                    <th scope="col">COMENTARIO</th>
                </tr>
              </thead> 
                <tbody>
                  <% datos.forEach(function(user){ %>
                  <tr class="<%if(user.cantidad_entr_desem = user.cantidad_recibi_pint){%>
                            completo
                        <%}else if(user.cantidad_entr_desem = user.cantidad_recibi_logis){%>
                            medio
                        <%}else {%>
                               incompleto
                      <%}%> 
                    ">
                    <td class="td"><%= user.id %></td>
                    <td ><%= user.fecha %></td>
                    <td><%= user.referencia %></td>
                    <td><%= user.lote %></td>
                    <td><%= user.pieza %></td>
                    <td><%= user.modelo %></td>
                    <td><%= user.responsable_desem %></td>
                    <td><%= user.cantidad_entre_desem %></td>
                    <td><%= user.recibe_logis %></td>                    
                    <td><%= user.cantidad_recibi_logis %></td>                    
                    <td><%= user.entrega_logis %></td>                    
                    <td><%= user.cantidad_entre_logis %></td>                    
                    <td><%= user.recibe_pint %></td>                    
                    <td><%= user.cantidad_recibi_pint%></td>                    
                    <td><%= user.comentarios %></td> 
                </tr>
                <% }); %>
                </tbody>
        </table>
        </div>
  </body>
</html>